@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  text-size-adjust: 100%;
  min-height:100%;
}

ul {
    margin: 0;
    padding: 0;
}
body {
    /*border: 2px solid blue;*/
    background-image: url("images/space.png");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
#intro {
    /*border: 3px solid green;*/
    height: 600px;
    margin: 0px;
}
#intro img {
    max-height:220px;
    max-width: 220px;
    border: 1px solid black;
    position: absolute;
    left: 260px;
    bottom: 50px;
}
.bubble {
    position: absolute;
    left: 480px;
    bottom: 246px;
    width: 350px;
    height: 80px;
    background-color: white;
    /*border: 3px solid gray;*/
    border-radius: 5px;
}
.tri {
    height: 0px;
    width: 0px;
    border: 35px black solid;
    border-color: transparent transparent transparent white;
    position: absolute;
    left: 500px;
    bottom: 215px;
}
h3 {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    font-family:'roboto', sans-serif;
}
p {
    display: block;
    margin-top: 10px;
    margin-left: 20px;
    font-style: italic;
}
/*This section for the faceplates*/
.screenshots ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    /*border: 1px solid red;*/
    margin-top: 0px;
}
.screenshots li img {
    border-radius: 6px;
}
div.bottomhalf {
    border: 1px solid purple;
}

/*This section for the first article*/
div.headerpix {
    background-image: url(./images/atom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    border-radius: 4px 4px 0 0;
    
}
.top h2 {
    margin: 20px;
}
.top p {
    margin: 20px;
    margin-top: 20px;
}
.keeprd1 {
    background-color: hsl(200, 80%, 75%);
    padding: 7px;
    position:absolute;
    /*float: right;*/
    right: 10px;
    bottom: -15px;
    border: 1px solid hsl(200, 60%, 50%);
    border-radius: 4px;
    }
.keeprd1:link,
.keeprd1:visited {
    color: white;
    text-decoration: none;
}
/*This section for the second article*/
section {
    position: relative;
    margin-top: 40px;
    
    /*border: 1px solid pink;*/
    /*margin-right: 20px;
    margin-left: 20px;*/
}

section div.headerpix {
    background-image: url(./images/code.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    border-radius: 4px 4px 0 0;
    
}
.bottom h2 {
    margin: 20px;
}
.bottom p {
    /*margin: 20px;*/
    /*margin-top: 20px;*/
    
}
article {
    background-color: white;
    border-radius: 4px;
    /*border: 5px solid pink;*/
    margin-top: 10px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    height: 250px;
    
}
time {
    font-size: 12px;
    margin: 10px;
    font-style:italic;
}
/*connected with me*/
.connected {
    margin: 0;
}
.connected p {
    display: block;
    font-size: 28px;
    font-weight:bold;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 80px;
    margin-left: 0;
    /*border: 4px solid yellow*/
}
.twitter ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    /*border: 2px solid purple;*/
    height: 50px;
    width: 700px;
    align-content: center;
    margin-left: 300px;
    padding: 50px;
}
.twitter li img {
     border-radius: 50%;
}

#copyright {
    display: block;
    height: 50px;
    /*border: 1px solid white;*/
    color: white;
    text-align: center;
}
#copyright p{
    font-style: normal;
}


